body {
  min-width: 290px;
  color: rgb(0, 50, 0);
  background-color: #ffffff;
  font-family: Garamond;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  font-size: 25px;
  background-color: rgb(193, 223, 176);
}

nav header {
  color: white;
  margin: 10px;
  text-align: center;
  font-size: 1.5em;
  background-color: rgb(22, 122, 78);
  border: 3px solid black;
  border-radius: 10px;
}

nav li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 2px solid black;

}

nav li:last-child {
  border-bottom: none;
}

nav li a {
  text-decoration: none;
  color: black
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

#main-doc header {
  font-size: 2em;
  background-color: rgb(22, 122, 78);
  border: 3px solid black;
  border-radius: 10px;
  color: white;
  text-align: center;
}

p {
  font-size: 1.3em;
}

.main-section ul li {
  font-size: 1.3em;
}

.selector {
  font-weight: bold;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  background-color: rgb(215, 239, 199);
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media all and (max-width: 768px) {
  nav {
    float: left;
    width: 30%;
  }

  main {
    float: right;
    width: 70%;
    padding-left: 24px;
  }
}
